<div class="container">
  <h2>{{model.start_word}} ... {{model.end_word}}</h2>
  <p>{{model.difficulty}}</p>

  {{#if userGiveUp}}
    {{#each model.best_path as |word|}}
      {{word}}
    {{/each}}
  {{/if}}


    <div class="col-md-6">
    {{show-entry getEntries=(action 'getEntries') entries=model.entries}}
  </div>


  
{{cheese}}
</div>

{{outlet}}
