<div class="container">
  <h2>Starting Word: {{model.start_word}}</h2>
  {{#each entries as |entry|}}
    <p>
      {{entry.word}}
    </p>

    <p>
      {{#each entry.definition as |word|}}
        <strong {{action "getEntry" word}}>{{word}}</strong>  
      {{/each}}
    </p>
  {{/each}}
  <h2>Ending Word: {{model.end_word}}</h2>
  <p>{{model.difficulty}}</p>

  {{#if userGiveUp}}
    {{#each model.best_path as |word|}}
      {{word}}
    {{/each}}
  {{/if}}

  <button type="button" name="button" class="btn btn-primary" {{action "getEntry" model.start_word}}>Start</button>

</div>
{{outlet}}
